<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<p th:text="${logName}">

	<!-- ユーザー検索 -->
	<form action="/NMsearch" method="get">
		名前
		<input type="text" name="name">
		メールアドレス
		<input type="text" name="email">
		<input type="submit" value="検索">
	</form>
	<!-- ログイン -->
	<form action="/loginnn" method="post">
		名前
		<input type="text" name="name">
		パスワード
		<input type="password" name="password">
		<input type="submit" value="ログイン">
	</form>

	<!-- ユーザー一覧 -->
	<table>
		<tr>
			<th>名前</th><th>メールアドレス</th>
		</tr>
		<tr th:each="userEntity : ${data}">
			<td th:text="${userEntity.name}"></td>
			<td th:text="${userEntity.email}"></td>
		</tr>
	</table>

	<!-- 登録画面へ遷移 -->
	<form action="/" method="get">
		<input type="submit" value="登録画面">
	</form>

	<form action = "/add" method = "POST">
		<input type = "text" name = "user">
		<input type = "submit" value = "ログイン">
	</form>

	<p th:text = "${name}">何もなし</p>
</body>
</html>