<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<!-- ユーザー登録 -->
	<p>新規</p>
	<form action="/userAdd" method="post">
		<p>名前<input type="text" name="name"></p>
		<p>メールアドレス<input type="text" name="email"></p>
		<p>パスワード<input type="text" name="password"></p>
		<input type="submit" value="登録">
	</form>
	
	<!-- ユーザー一覧へ遷移 -->
	<form action="/userData" method="get">
		<input type="submit" value="ユーザー一覧">
	</form>
	
</body>
</html>